<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>

        <typeAlias alias="temp" type="dto.temp"/>
        <typeAlias alias="String" type="java.lang.String"/>
        <typeAlias alias="list" type="java.util.List"/>
        <typeAlias alias="restaurant" type="dto.restaurant"/>

    </typeAliases>

    <mappers>
        <mapper resource="mappers/searchRestaurant.xml" />
        <mapper resource="mappers/tempCustomer.xml" />
        <mapper resource="mappers/updateRestaurant.xml" />
    </mappers>
</configuration>